page {
	background: #fff;
	display: flex;
	flex-direction: column;
}

.scroll-view {
	flex: 1;
	overflow: hidden;
}

.avatar {
	width: 64px;
	height: 64px;
	border-radius: 16px;
	overflow: hidden;
	margin-right: 24px;
}

.author {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;

	&-username {
		font-size: 32px;
		font-weight: 500;
		line-height: 40px;
		color: #172b4d;
	}
}

.top {
	padding: 40px;
	box-sizing: border-box;

	.title {
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		color: #222;
		margin-bottom: 30px;
	}

	.node {
		padding: 20px 30px;
		box-sizing: border-box;
		border-radius: 32px;
		background: #deebff;
		margin-left: auto;
		display: grid;
		place-content: center;
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
		color: #0052cc;
	}

	.supplements {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: #7a869a;
		margin: 12px 0;

		&-index {
			font-size: 28px;
			font-weight: 400;
			margin-right: 20px;
		}
	}
}
