page {
	display: flex;
	flex-direction: column;
}

.scroll-view {
	flex: 1;
	overflow: hidden;
}

.node {
	padding: 20px 40px;
	background: #fff;

	.top {
		display: flex;
		flex-direction: row;
		align-items: center;

		.avatar {
			width: 160px;
			height: 160px;
			border-radius: 50%;
			overflow: hidden;

			image {
				width: 100%;
				height: 100%;
			}
		}

		&-right {
			flex: 1;
			margin-left: 40px;

			.username {
				font-size: 42px;
				font-weight: 500;
				color: #222;
			}

			.info {
				color: #999;
				font-size: 24px;
				display: flex;
				flex-flow: row wrap;
			}
		}
	}

	.tagline {
		margin: 20px 0;
		font-weight: 400;
		font-size: 28px;
	}

	.widgets {
		display: flex;
		flex-flow: row wrap;
		gap: 10px;
		margin-top: 10px;

		> view {
			display: flex;
			flex-direction: row;
			align-items: center;

			image {
				width: 32px;
				height: 32px;
				flex: 0 0 32px;
				margin: 0 10px;
			}
		}
	}
}

.topics-item {
	background: #fff;
	width: stretch;
	border-radius: 30px;
	overflow: hidden;
	padding: 32px 40px;
	margin: 16px 20px;

	&-member {
		display: flex;
		flex-direction: row;
		align-items: center;

		&-avatar {
			width: 64px;
			height: 64px;
			border-radius: 16px;
			overflow: hidden;
			margin-right: 24px;
		}

		&-username {
			font-size: 28px;
			font-weight: 500;
			line-height: 40px;
			color: #172b4d;
		}
	}

	&-title {
		font-size: 28px;
		font-weight: 500;
		line-height: 48px;
		color: #172b4d;
		margin-bottom: 12px;
	}
}
