.markdown_body {
	font-size: 28px;
	font-weight: 400;
	line-height: 48px;
	color: #172b4d;
	background: #deebff;
	padding: 20px;
	border-radius: 20px;
	word-break: break-all;
}

.language-shell,
.hljs {
	overflow-x: auto;
	display: block;
}

.embedded_image {
	max-width: 100%;
}

.pre {
	background: #f6f8fa;
	padding: 32px;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}
.code {
	white-space: pre;
}
.link {
	color: #0969da;
	text-decoration: underline;
}
.ul-li {
	list-style-type: disc;
	display: list-item;
	transform: translateX(20px);
}
