.markdown-body {
	font-size: 28px;
	font-weight: 400;
	line-height: 48px;
	color: #172b4d;
	background: #deebff;
	padding: 20px;
	border-radius: 20px;
	word-break: break-all;

	text {
		max-width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		word-break: break-word;
		display: inline-flex;
	}
}

.code {
	background: #f6f8fa;
	padding: 32px;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

.link {
	color: #0969da;
	text-decoration: underline;
	width: 100%;
}

.list {
	margin: 16px 0;
	padding: 0 40px;

	&-item {
		list-style-type: disc;
		display: list-item;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.heading {
	font-size: 32px;
	font-weight: 700;
	display: flex;
	flex-flow: row wrap;
	border-bottom: 2px solid #999;
	margin: 16px 0 8px;
}

.strong {
	font-weight: 500;
}

.table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #e5e6ed;
	background: #fff;

	&-row {
		display: table-row;

		&:nth-child(even) {
			background: #f8f8f8;
		}
	}

	&-cell {
		display: table-cell;
		border: 2px solid #e5e6ed;
	}
}

.paragraph {
	display: flex;
	flex-flow: row wrap;
}

.thematic-break {
	height: 2px;
	background: #999;
	width: 100%;
	margin: 16px 0;
}

.emphasis {
	font-style: italic;
}

.break {
	width: 100%;
}

.at {
	color: #778087;
	text-decoration: underline;
}

.rich-text {
	overflow: scroll;

	&.hide {
		display: none;

		+ text {
			font-weight: 500;
		}
	}
}
