.topics-item {
	background: #fff;
	width: 100%;
	border-radius: 30px;
	overflow: hidden;
	padding: 32px 40px;
	margin-bottom: 16px;
	box-shadow: -2px 4px 4px rgb(140 140 140 / 15%);

	&-meta {
		display: flex;
		flex-direction: row;
		align-items: center;

		&-avatar {
			width: 64px;
			height: 64px;
			border-radius: 16px;
			overflow: hidden;
			margin-right: 24px;
		}

		&-username {
			font-size: 28px;
			font-weight: 500;
			line-height: 40px;
			color: #172b4d;
		}

		&-node {
			margin-left: auto;
			border-radius: 32px;
			background: #deebff;
			padding: 12px 16px;
			font-size: 26px;
			font-weight: 400;
			line-height: 24px;
			color: #0052cc;
		}
	}

	&-title {
		font-size: 28px;
		font-weight: 500;
		line-height: 48px;
		color: #172b4d;
		margin-top: 32px;
	}
}
