page {
	background: #f4f5f7;
	height: 100%;
}

.bg-main {
	background: #f4f5f7 !important;
}

page,
view,
text,
image,
button,
video,
map,
scroll-view,
swiper,
input,
textarea,
navigator {
	position: relative;
	box-sizing: border-box;
	background-origin: border-box;
	isolation: isolate;
}

navigator text,
text text,
text navigator {
	display: inline;
}

.time {
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	color: #7a869a;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.no-more {
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	line-height: 28px;
	color: #7a869a;
	padding: 30px 0;
}

button {
	font-weight: 500 !important;
}

.flex {
	display: flex;
}
