.to {
	display: flex;
	align-items: center;
	padding: 40px;
	overflow: hidden;
	width: stretch;
	margin: 20px 40px;
	background: #d2f1fb;
	border-radius: 48px;

	&.member {
		background: #a2e64c;
	}

	&-t {
		color: #000;
		width: 100px;
		text-align: center;
		font-size: 48px;
	}

	input {
		background: #fff;
		overflow: hidden;
		flex: 1;
		border-radius: 25px;
		height: 100px;
		padding: 0 20px;
	}

	&-btn {
		background: #101426;
		color: #fff;
		margin-left: 20px;
		border-radius: 20px;
	}
}
