.to {
	display: flex;
	align-items: center;
	padding: 40px;
	overflow: hidden;
	width: stretch;
	margin: 20px 40px;
	background: #d2f1fb;
	border-radius: 48px;

	&.member {
		background: #a2e64c;
	}

	&.github {
		background: #ac9ffe;
		display: flex;
		align-items: center;
		justify-content: center;

		> image {
			height: 100px;
			width: 100px;
		}

		> text {
			margin-left: 40px;
			font-size: 32px;
			color: #222;
			font-weight: 500;
		}
	}

	&-t {
		color: #000;
		width: 100px;
		text-align: center;
		font-size: 48px;
	}

	input {
		background: #fff;
		overflow: hidden;
		flex: 1;
		border-radius: 25px;
		height: 100px;
		padding: 0 20px;
	}

	&-btn {
		background: #101426;
		color: #fff;
		margin-left: 20px;
		border-radius: 20px;
	}
}
